<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
    </head>
    <body>
        <table>
            <tr>
                <td><input type="number" value="30" name="order[]" /></td>
                <td><input type="number" value="30" name="order[]" /></td>
                <td><input type="number" value="30" name="order[]" /></td>
                <td><input type="number" value="30" name="order[]" /></td>
                <td><input type="number" value="30" name="order[]" /></td>
            </tr>
            <tr>
                <td><input type="number" value="30" name="order[]" /></td>
                <td><input type="number" value="30" name="order[]" /></td>
                <td><input type="number" value="30" name="order[]" /></td>
                <td><input type="number" value="30" name="order[]" /></td>
                <td><input type="number" value="30" name="order[]" /></td>
            </tr>
        </table>

        <button id="start">start</button>
        <script src="/js/socket.io.js"></script>
        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/admin.js"></script>
    </body>
</html>
