<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>login</title>
</head>

<body>
  <div class="container">
    <h1>login</h1>
    <form action="/login" method="POST">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required />

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required />

      <button type="submit">Login</button>
      <span>
        Don't have an account? <a href="/register">click here to sign up</a>
      </span>
    </form>
  </div>
</body>

</html>