<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="../css/playRoom.css">
  <title>PlayRoom</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">BeerGame</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <a href="profile.php"><img src=<%=img%> /></a>&nbsp;
        <a class="nav-link" href="/profile" id="userName">
          <%=name%></a>
        <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
      </ul>
    </div>
  </nav><br />
  <h1 id='role'>Factory</h1>
  <div id='content'>
    <table>
      <tr>
        <td class='td0'>第 ? 期 <br /> Request of Distribution: 45 <br /> Your request: <input id="order" class="req"
            type="text" disabled>
          <button class='sub' type="submit" id="sendOrder" disabled>Sure</button> </td>
        <td class='tt' rowspan="2">
          <div id="st1" class="st">
            <table class="inner">
              <tr>
                <th class='te'>週次</th>
                <th class='te'>到貨量</th>
                <th class='te'>庫存量</th>
                <th class='te'>銷售量</th>
                <th class='te'>訂購量</th>
                <th class='te'>當期成本</th>
                <th class='te'>累計成本</th>
              </tr>
              <tr>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
              </tr>
              <tr>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
              </tr>
              <tr>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
              </tr>
              <tr>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
              </tr>
              <tr>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
              </tr>
              <tr>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
              </tr>
              <tr>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
              </tr>
              <tr>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
              </tr>
              <tr>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
                <td class='te'></td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
      <tr>
        <td class='imgw' id='putImgs'> <img id='F' alt=""> </td>
      </tr>
    </table>
  </div>
  </div>
  <a href="/">back to home page</a>
  <!-- 以下勿動 -->
  <script src="/js/socket.io.js"></script>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <!-- 以上勿動 -->
  <script src="/js/playRoom.js"></script>
</body>

</html>