<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>register</title>
    </head>
    <body>
        <div class="container">
            <head>
                Register
            </head>
            <form
                action="/register"
                method="POST"
                enctype="multipart/form-data"
            >
                <label for="username"><b>Username</b></label>
                <input
                    type="text"
                    placeholder="Enter Username"
                    name="username"
                    required
                />

                <label for="password"><b>Password</b></label>
                <input
                    type="password"
                    placeholder="Enter Password"
                    name="password"
                    required
                />

                <input type="file" name="userPhoto" />

                <button type="submit">Login</button>
            </form>
        </div>
    </body>
</html>
