<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <title>WaitRoom</title>
  <link rel="stylesheet" href="../css/waitRoom.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="Home.html">BeerGame</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <a href="profile.php"><img src="../img/beer.jpg" /></a>&nbsp;
        <a class="nav-link" href="/profile">Your Name</a>
        <a class="nav-link" href="#">Logout <span class="sr-only">(current)</span></a>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="content">
      <div class="inner">
        <table class="tbl" id="teamList">
          <tr>
            <th>Teams</th>
            <th>Factory</th>
            <th>Distribution</th>
            <th>Wholesaler</th>
            <th>Retailer</th>
          </tr>
        </table>
      </div>
    </div>
    <a href="/home">back to home page</a>
  </div>
  <!-- <table border="1" id="allTeams"></table>
    <h1 id="userName">
        <%= user.username %>
    </h1>
    <input id="teamName" type="text" />
    <select id="position">
        <option>factory</option>
        <option>largeMarket</option>
        <option>wholesaler</option>
        <option>retailer</option>
    </select>
    <button id="createTeam">createTeam</button>

    <br />
    <select id="allTeams2"> </select>
    <select id="position2">
        <option>factory</option>
        <option>largeMarket</option>
        <option>wholesaler</option>
        <option>retailer</option>
    </select>
    <button id="joinTeam">joinTeam</button> <br />
    <h1>Your team : <b id="resTeam"></b></h1>
    <h1>Your position : <b id="resPos"></b></h1>
    <h1>Your current store :<b id="store"></b></h1>
    <h1>Your order :</h1>
    <h1>Turn :<b id="turn"></b></h1>
    <input type="number" id="order" disabled />
    <button id="sendOrder" disabled>submit</button> -->
  <!-- 以下勿動 -->
  <script src="/js/socket.io.js"></script>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <!-- 以上勿動 -->
  <script src="/js/waitRoom.js"></script>
</body>

</html>