img {
    width: 30px;
    height: 30px;
    margin-top: 15%;
}

#content1 {
    
    border: rgb(150, 150 ,150); 
    border-radius: 20px;
    vertical-align: text-top;
    /* width: 1000px;  */
    /* 暫時先設這個高度，之後會依照內容延伸*/
    /* height: 500px; */
    background-image: url('../img/log1.jpg');
    background-size: 100%;
    padding: 8.1%;
    margin: 10px auto;

}
  
th {
    text-align:center;
    font-family:fantasy;
}

th, td {
    text-align:center;
    font-size:20px;
    width: 10px;
    background: rgba(243, 238, 238, 0.6);
    /* padding: 20px; */
    padding: 8px 5% 1em 20px;
}

.btn {
    font-family: monospace;
    font-size: 18px;
}

.tbl {
    border-collapse: collapse;
    margin: 0 auto;
    width: 480px;
    position:relative;
    top:30%;
    margin-left:60%;
    margin-top:50px;
    height:350px;
}

::placeholder { 
    opacity: 0.5; /* Firefox */
    font-size: 18px;
}