body {
  font-size: .875rem;
}

img {
    width: 30px;
    height: 30px;
    margin-top: 15%;
}

/* @supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
} */

/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /*Space for fixed navbar */
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
}
#cav{
  padding: 1em 4%;
  width: 80%;

}
.col{
  margin-left:25px;
}
.col-10{
  margin:80px 0px 0px 150px;
}