img {
    width: 30px;
    height: 30px;
    margin-top: 15%;
}

#role {
    font-size: 50px;
    font-family: 'Russo One';
    text-align: center;
    background-color: rgba(161, 161, 161, 0.87);
}

table {
    width: 100%;
    text-align: center;
}

td {
    height: 140px;
}

#F {
    height: 225px;
    width: 225px;
}

.imgw {
    text-align: center;
    width: 250px;
    height: 250px;
    padding: 15px 15px;
}

.td0 {
    text-align: left;
    font-size: 16px;
    padding: 10px;
    text-align: left;
}

input[type=text] {
    border: 1px solid rgb(226, 224, 224);
    border-radius: 3px;
    width: 160px;
}

.sub {
    font-size: 12px;
}

#content {
    padding: 10px;
}

#chart {
    border: 1px solid black;
}

.te {
    height: 50px;
    border: 1px solid black;
}

.tt {
    overflow: auto; /*內容超過高度時產生捲軸*/
}
.st {
    color: rgb(71, 55, 55); /*文字白色*/
    height: 450px;
    width: 850px;
    overflow: auto; /*內容超過高度時產生捲軸*/
    margin: 10px auto 0;
    text-align: justify;
    border:1px solid rgb(60%,60%,60%);
    border-right:none;
}

.inner {
    padding: 1em 4%;
}

.col-md-3.col-md-pull-9 {
    padding: 40px;
}