#content {
    /* border: rgb(150, 150 ,150) solid 5px; */
    /* width: 1000px; */
    /* 暫時先設這個高度，之後會依照內容延伸 */
    /* height: 480px;
    margin-left: auto;
    margin-right: auto;
    */
    /* margin-top: 1%;  */
    background-image: url('./img/beer.jpg');
    background-repeat: no-repeat; 
    background-position: 10% -20%;
    background-size: 100%;
}

.btn.btn-light {
    border: rgba(114, 110, 110, 0.5) solid 3px;
    position: relative;
    margin-top: 40%;
    width: 80px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bolder;
    color: rgb(103, 105, 105);
    background-color: rgba(221, 229, 236, 0.9);
}

.center-block {
    text-align: center;
}

img {
    width: 30px;
    height: 30px;
    margin-top: 3%;
}

/* create a team */
.modal-body {
    height: 120px;
    margin: 50px;
}

/* join a team */
body {
    
}

#tbl {
    overflow: auto;
}

.tbl {
    border-collapse: collapse;
    margin: 0 auto;
    width: 1000px;
    position:relative;
    top:50%;
  }
  
.tbl, th, td {
    border: 1px solid black;
    text-align: center; 
}

.tbl img {
    opacity: 0.5;
}

th, td {
    background: rgba(245, 238, 238, 0.6);
    padding: 10px;
}
.content {
    color: rgb(46, 42, 42);
    /*div.st加背景圖片並定義與圖片同尺寸*/
    /* height: 500px;
    width: 55%; */
    overflow: auto; /*內容超過高度時產生捲軸*/
    margin: 0 auto;
    text-align: justify;
    /* border:1px solid rgba(60%,60%,60%, 0.9); */
    border-right:none;
    margin: 10px auto 0;
    background-image: url(./img/tbl.png);
    background-repeat: no-repeat;
    position:relative;
    top:50%;
    background-size: contain;
    background-attachment: fixed;
    background-position: center center;
}



